/* Estilo general del cuerpo */
body {
  font-family: 'Times New Roman', sans-serif;
  background-color: pink;
  margin: 0;
  padding: 0;
}

/* Encabezado tipo banner */
.banner {
  background-color: grey;
  color: white;
  text-align: center;
  padding: 10px 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.banner h1 {
  margin: 0;
  font-size: 40px;
}

/* Navegación dentro del banner */
nav {
  margin-top: 20px;
}

nav a {
  margin: 0 20px;
  font-size: 30px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: grey;
  text-decoration: underline;
}

/* Título principal en cada página */
h2 {
  font-size: 80px;
  color: grey;
  text-align: center;
  margin-top: 50px;
}

/* Párrafos */
p {
  font-size: 40px;
  color: grey;
  text-align: center;
  text-align: justify;
  margin-left: 65px;
  margin-right: 65px;
}

/* Sección principal */
main {
  padding: 40px 20px;
}

/* Estilo para enlaces tipo botón si se usan */
.banner-content h2 {
  margin: 0;
}

/*Estilos Nombres Pagina Principal*/
h3 {
  font-size: 40px;
  color: rgb(128, 128, 128);
  text-align: center;
  margin-top: 50px;
}